{% extends 'index.html' %}


{% block app_content %}
    {% if status == 1 %}
        <div class="form-group row">
            <div class="col-xs-12" id="anim" style="position: absolute; height: 100%; text-align: center; margin-top: 30%; display: none;">            
                <img src={{ url_for('static', filename='ajax-loader.gif') }}>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-4">
                <input id="input_search" type="text" class="form-control" placeholder="Введите лицевой счет абонента">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                <h4>Личные данные</h4>
                <div class="col-xs-9">
                    <h5 id="personaldata"></h5>
                </div>
                <div class="col-xs-3">
                    <h5 id="status"></h5>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-7">
                <h4>Режимы</h4>
                <div class="col-xs-12">
                    <h5 id="regimes"></h5>
                </div>
            </div>
            <div class="col-xs-5">
                <h4>Взаиморасчеты</h4>
                <div class="col-xs-12">
                    <h5 id="accounts"></h5>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-7">
                <h4>Оборудование</h4>
                <div class="col-xs-12">
                    <h5 id="equipments"></h5>
                </div>
            </div>
            <div class="col-xs-5">
                <h4>Параметры</h4>
                <div class="col-xs-12">
                    <h5 id="parameters"></h5>
                </div>
            </div>
        </div>
    {% else %}
        <h4><strong>Данные по абонентам {{ text }}</strong></h4>
        <div class="form-group row">
            <div class="col-xs-7">
                <table id="table_6" class="table table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="font-size: 13px;">Лицевой счет</th>
                            <th style="font-size: 13px;">ФИО</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in data %}
                            <tr>
                                <td>{{ user['ЛС'] }}</td>
                                <td>{{ user['ФИО'] }}</td>
                                <td>{{ user['Адрес'] }}</td>
                                <td>{{ user['СостояниеЛС'] }}</td>
                                <td>{{ user['СостояниеПодключения'] }}</td>
                                <td>{{ user['ДатаОткрытияЗакрытия'] }}</td>
                                <td>{{ user['ДатаПодключенияОтключения'] }}</td>
                                <td>{{ user['ВидДокумента'] }}</td>
                                <td>{{ user['НомерДокумента'] }}</td>
                                <td>{{ user['СерияДокумента'] }}</td>
                                <td>{{ user['ДатаВыдачиДокумента'] }}</td>
                                <td>{{ user['КемВыданДокумент'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12" id="anim" style="position: absolute; height: 100%; text-align: center; margin-top: 30%; display: none;">            
                    <img src={{ url_for('static', filename='ajax-loader.gif') }}>
                </div>
                <div data-spy="affix" style="width: 27%">
                    <h4>Личные данные</h4>
                    <div class="col-xs-12">
                        <h5 id="passport"><br><br></h5>
                    </div>
                    <!-- <h4>Взаиморасчеты</h4> -->
                    <h4>Установленное оборудование</h4>
                    <div class="col-xs-12">                        
                        <h5 id="equipments"></h5>                        
                    </div>
                </div>                
            </div>        
        </div>
    {% endif %}
        
{% endblock %}

{% block app_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
    
    <script>
        var table_6 = $('#table_6').DataTable({
            "processing": true,                        
            "columnDefs": [
                {
                    "targets": [ 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ],
                    "visible": false
                }
            ],
            "language": {
                'processing': "Подождите...",
                'search': "Поиск:",
                'lengthMenu': "Показать _MENU_ записей",
                'info': "с _START_ до _END_ из _TOTAL_ записей",
                'infoEmpty': "с 0 до 0 из 0 записей",
                'infoFiltered': "(отфильтровано из _MAX_ записей)",
                'infoPostFix': "",
                'loadingRecords': "Загрузка записей...",
                'zeroRecords': "Записи отсутствуют.",
                'emptyTable': "В таблице отсутствуют данные",
                'thousands': " ",
                "paginate": {
                    "first": "Первая",
                    "previous": "<",
                    "next": ">",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            },
            "bPaginate": true,
            "pagingType": "numbers",
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": true
        });

        $('#table_6 tbody').on('click', 'tr', function() {
            if ( $(this).hasClass('info') ) {
                $(this).removeClass('info');                
            }
            else {
                var                    
                    _row            = $('#table_6').dataTable().fnGetData($(this)),
                    _db             = location.pathname.substring(10, 13),
                    _period_start   = location.pathname.substring(14, 24);                    
                
                table_6.$('tr.info').removeClass('info');
                $(this).addClass('info');
                $('#anim').css('display', 'block');
                $.post("{{ url_for('main.get_data_abonent')}}", {data: _db, ls: this.firstElementChild.innerText, period_start: _period_start})
                    .done(function(response){                        
                        if (_row[7] != 'None') {
                            var1 = ('<br><br>'+_row[7]+' ('+_row[9]+' '+_row[8]+')<br>'+_row[10]+' '+_row[11])    
                        } else {
                            var1 = ''
                        }                        
                        $('#passport').html((_row[3] == 'off' ? 'Дата закрытия: ' : 'Дата открытия: ')+_row[5]+'<br>'+(_row[4] == 'Отключен' ? 'Дата отключения: ' : 'Дата подключения: ')+_row[6]+'<br><br>'+_row[2]+var1);                        
                        $('#equipments').html(response.Equipments);
                        $('#anim').css('display', 'none');
                    })
                    .fail(function(response){console.log(response)})
            }
        });
        
        $('#input_search').on('keyup', function (e) {
            if (e.keyCode == 13) {
                // анимация ожидания
                $('#anim').css('display', 'block');
                $.post("{{ url_for('main.get_data_abonent')}}", {search: 1, ls: $('#input_search').val()})
                    .done(function(response){
                        $('#personaldata').html(response.PersonalData);
                        $('#status').html(response.Status);
                        $('#regimes').html(response.Regimes);
                        $('#accounts').html(response.Accounts);
                        $('#parameters').html(response.Parameters);
                        $('#equipments').html(response.Equipments);
                        $('#anim').css('display', 'none');
                    })
                    .fail(function(response){})
                
                
            }            
        });
    </script>
{% endblock %}